@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://fonts.googleapis.com/earlyaccess/amiri.css);
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 32, 23, 23;
    --background-start-rgb: 22, 26, 48;
    --background-end-rgb: 49, 48, 77;
  }
}
@font-face {
  font-family: "Jomhuria";
  src: local("Jomhuria"), url("../styles/Muslimah-Thin.otf") format("opentype"),
    url("../styles/Muslimah-Thin.otf") format("opentype");
  /* font-weight: 300; /* Adjust as needed */
  /* font-style: normal; Adjust as needed */
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
h1 {
  color: #31304d;
  font-family: "Jomhuria";
  font-size: 500%;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  direction: rtl;
  font-weight: 600;
}

h2 {
  color: #31304d;
  font-size: 500%;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  direction: rtl;
  font-weight: 600;
}
@font-face {
  font-family: "Lemon";
  font-size: 5%;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  direction: rtl;
  font-weight: 600;
  src: url("../styles/Lemonada-VariableFont_wght.ttf") format("truetype"),
    url("../styles/Lemonada-VariableFont_wght.ttf") format("truetype");
  /* Add additional font formats if necessary */
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html {
  height: 100%;
}
body {
  height: 100%;
}

.react-datepicker__close-icon::after {
  background-color: #31304d !important;
}
.react-datepicker__calendar-icon {
  font-size: x-large;
  color: #31304d;
}
.react-datepicker__view-calendar-icon input {
  padding: 6px 2px 5px 37px;
  text-align: center;
}
